@use './utils/variables';
@use './blocks/card';
@use './blocks/stars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: variables.$font-family-base;
  font-weight: variables.$font-weight-base;
}
